<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">

      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Dynamic tabs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button size="large" (click)="toggleTab2()" [hidden]="!tab2Displayed">Hide Tab2</ion-button>
        <ion-button size="large" (click)="toggleTab2()" [hidden]="tab2Displayed">Show Tab2</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
